<header class="fixed-top">
  <fa-icon class="logo" [icon]="logo"></fa-icon>
  <ul ngbNav #nav="ngbNav" class="nav-pills">
    <li ngbNavItem="home">
      <a ngbNavLink [routerLink]="['./home']">Home</a>
    </li>
    <li ngbNavItem="contacts">
      <a ngbNavLink [routerLink]="['./contacts']">Contacts</a>
    </li>
  </ul>

</header>
<main>
  <div class="page">
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-light text-muted text-center p-4">
      <p>Contact us : +33 6 56 85 84 33 | contact@coderbase.io</p>
      <p>2018 © Coderbase IT Limited</p>
    </footer>
  </div>
</main>
