<header class="fixed-top">
  <fa-icon class="logo" [icon]="logo"></fa-icon>
  <a class="btn navbtn" routerLinkActive="active" [routerLink]="['/home']">Home</a>
  <a class="btn navbtn" routerLinkActive="active" [routerLink]="['/contacts']">
    Contacts
    <span *ngIf="notif">
      {{notif}}
    </span>
  </a>
</header>
<main>
  <div class="page">
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-light text-muted text-center p-4">
      <p>Contact us : +33 6 56 85 84 33 | contact@coderbase.io</p>
      <p>2018 © Coderbase IT Limited</p>
    </footer>
  </div>
</main>
