header {
  height: 65px;
  background: #ffffff;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  margin-right: 20px;
  color: blue;
  font-size: 27px;
}

main {
  background: #ebedf2;
  min-height: calc(100vh - 65px);
  padding-top: 65px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 65px);
}
.contents {
  flex-grow: 1;
}
footer {
  background: #ffffff;
}
